@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

* {
  font-family: 'DM Sans', sans-serif !important;
  letter-spacing: -.5px;
}

body {
  background-color: #f8f8f8;
}

.normalLetterSpacing {
  // letter-spacing: 0 !important;
}

.v-btn {
  // letter-spacing: 0 !important;
}

.cursorPointer {
  cursor: pointer !important;
}

.fillWidth {
  width: 100% !important;
}

.fillHeight {
  height: 100% !important;
}

.postPage {
  min-height: calc(100vh - 64px);

  .postEditor {
    width: 70%;
    max-width: 1000px;

    min-height: calc(100vh);
    margin: 50px auto 0 auto;

    display: flex;
    flex-direction: column;
    align-items: center;

    .tiptapPostEditor {
      width: 100%;
      min-height: calc(100vh);
      line-height: 30px;

      h1, h2, h3, h4, h5, h6, p {
        margin-bottom: 20px;
      }

      ul {
        transform: translateX(20px);
      }

      > div {
        padding: 20px !important;
        min-height: calc(100vh) !important;

        &:focus {
          outline: none !important;
        }
      }
    }
  }
}