@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

* {
  font-family: Inter, sans-serif;
}

body {
  background-color: #f8f8f8;
}

.fillWidth {
  width: 100% !important;
}

.fillHeight {
  height: 100% !important;
}