div.essays-area {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;

	width: 100%;

	padding: 40px 0 40px 0;

	h2 {
		width: 100%;
		min-height: 5vh;
		margin-bottom: 30px;

		font-size: 1.5rem;

		text-align: center;

		&.highlight {
			color: #7b53ff;
		}
	}

	> div.essays {
		display: flex;
		align-items: stretch;
		justify-content: center;
		flex-wrap: wrap;
		gap: 30px;

		min-height: 30vh; 
		width: 100%;	

		&.highlight {
			color: #7b53ff;
		}
	}
}

@media (max-width: 760px) {
	div.essays-area {

		> div.essays {
			padding: 0 10px;
			gap: 10px; 
		}
	}	
}