:root {
	--color-main-blue: #7b53ff;
	--color-white: #fff;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: 'Poppins', sans-serif;
	list-style: none;
}

.container-row {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;

	width: 100%;
	height: 100vh;
}

.container-column {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;

	width: 100%;
	min-height: 100vh;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

@keyframes showFromBottomToUp {
	from {
		transform: translateY(10px);
		opacity: 0;
	}
	to {
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes showWithOpacityTransition {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}