:root {
	--color-main-blue: #7b53ff;
	--color-white: #fff;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: 'Poppins', sans-serif;
	list-style: none;
}

.container-row {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;

	width: 100%;
	height: 100vh;
}

.container-column {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;

	width: 100%;
	min-height: 100vh;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.dont-show {
	display: none !important;
}

@media (min-width: 760px) {
	.dont-show-if-desktop {
		display: none !important;
	}
}


@media (max-width: 760px) {
	.dont-show-if-mobile {
		display: none !important;
	}
}

.no-shadow-on-focus {
	&:focus {
		box-shadow: 0 0 0 0;
		outline: 0;
	}
}

@keyframes showFromBottomToUp {
	from {
		transform: translateY(10px);
		opacity: 0;
	}
	to {
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes showWithOpacityTransition {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.float-animated {
	animation: floatAnimation 2s ease-in-out alternate infinite;
}

@keyframes floatAnimation {
	from {
		transform: translateY(-20px); 
	}
	to {
		transform: translateY(20px);
	}
}