button.essay-of-user-page {
	width: 190px;
	height: 240px;

	display: flex;
	align-items: center;
	justify-content: flex-start;
	flex-direction: column;
	gap: 10px;

	border: 0;

	transition: .2s;

	background-color: #ede7ff;

	padding-top: 30px;

	cursor: pointer;

	&:hover {
		background-color: #e4dbff;
	}

	> h3 {
		width: 90%;
		height: 20%;
		
		font-weight: normal;
		font-size: .9rem;

		text-align: center;
	}

	> div.image {
		display: flex;
		align-items: center;
		justify-content: center;

		width: 100%;
		height: 40%;

		> i {
			font-size: 60px;
		}
	}

	> div.footer {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 10px;

		height: 30%;
	}
}

div.essays-area.highlight {
	button.essay-of-user-page {
		color: #7b53ff;
		&:hover {
			/*background: #7b53ff;
			color: #fff;*/
		}
	}
}

div.essays-area.list {
	button.essay-of-user-page {
		width: 70%;
		height: 100px;

		padding-top: 0;

		flex-direction: row;

		justify-content: space-around;

		> h3 {
			width: 30%;
			height: 100%;

			display: flex;
			align-items: center;
			justify-content: center;
		}

		> div.image {
			display: none;
		}

		> div.footer {
			display: flex;
			align-items: center;
			justify-content: center;
			gap: 10px;

			width: 50%;
			height: 100%;

			font-size: 17px;
		}
	}
}

@media (max-width: 760px) {
	button.essay-of-user-page {
		width: 30%;
		height: 200px;

		> div.image {
			> i {
				font-size: 30px;
			}
		}
	}	

	div.essays-area.list {
		button.essay-of-user-page {
			width: 90%;
		}
	}
}