div.user-page {
	animation: showWithOpacityTransition .2s ease;

	justify-content: flex-start;

	div.custom-background {
		display: flex;
		align-items: center;
		justify-content: flex-start;

		width: 100%;
		height: 30vh;

		background: linear-gradient(rgba(255, 255, 255, .2), rgba(255, 255, 255, .2) 100%),  url(../../assets/images/wallpapers/feathers.jpg) no-repeat;
		
		background-size: cover;
		background-position: center;

		border-bottom: 2px solid #ddd;
	}

	> div.user-page-content {

		display: flex;
		align-items: flex-start;
		justify-content: space-between;
		flex-direction: row; 
		max-width: 90%;
		min-width: 80%;

		> div.user-data {
			width: 40%;

			display: flex;
			align-items: center;
			justify-content: center;
			flex-direction: column;
			gap: 20px;

			transform: translateY(-100px);

			> div.profile-photo {
				width: 200px;
				height: 200px;

				background-color: #fff;

				border-radius: 50%;
				border: 1px solid #ddd;

				overflow: hidden;

				display: flex;
				align-items: center;
				justify-content: center;

				color: #ccc;

				> img {
					height: 100%;
				} 
			}
		}

		> div.user-content {
			width: 60%;
		}
	}
}

@media (max-width: 760px) {
	div.user-page {

		> div.user-page-content {
			flex-direction: column;
			align-items: center;

			max-width: 98%;

			> div.user-data {
				width: 100%;
				font-size: .9rem;
			}

			> div.user-content {
				width: 100%;
			}
		}
	}
}